<h1>Bookmark Manager</h1>
<h2 style="color: red;"> <%= flash[:notice] %> </h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li id="boolmark-<%= bookmark.id %>">
    <a href="<%= bookmark.url %>" target="_blank" >
      <%= bookmark.title %>
    </a>
    <form action="/bookmarks/<%= bookmark.id %>" method="post" id="<%= bookmark.id %>">

      <input type="hidden" value="<%= bookmark.id %>" name="id"/>
      <input type="hidden" value="DELETE" name="_method"/>
    <input type="submit" value="delete"/>
    </form>

    <form action="/bookmarks/<%= bookmark.id %>/update" method="post" id="<%= bookmark.id %>">

      <input type="hidden" value="<%= bookmark.id %>" name="id"/>
    <input type="submit" value="update"/>
    </form>

  </li>
  <% end %>
</ul>
